.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f8ebd8
}


.login > div > img {
    display: flex;
    height: 300px;
    width: 600px;
}

.login > div {
    display: flex;
    flex-direction: column;
}

.login > button {
    width: 300px;
   background-color: #008CBA;
    color: #eff2f5;
    font-weight: 800;
}

.login > button:hover {
    background-color: white;   
}



.meditate > img {
    object-fit: cover;
    width: 49.6vw;
    height: 99.6vh;
}