.image {
    display: flex;
    height: 250px;
    width: 100vmin;
}


.feed {
    flex: 1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}